<script src="/js/index.js"></script>
</body>
<footer>
    <div class="line"></div>

    <div class="columnsFooter">
      <div class="colOne">
        <span class="siteName">TalentHub</span><br>
        <p class="list para">
          Trouvez les missions qui vous correspondent!
        </p>
      </div>

      <div class="colTwo">
        <ul class="list">
          <li><a href="">Go to top</a></li>
 
        </ul>
      </div>

      <div class="colThree">
        <ul class="list">
          <li><a href="/">home</a></li>
          
        </ul>
      </div>
    </div>
  </footer>