  <!-- Favicon standard -->
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
       <!-- Favicon standard -->
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://www.flaticon.com/fr/icones-gratuites/diplome-en-ligne" title="diplôme en ligne icônes"
    />
  <title>TalentHub</title>
  <button type="button">Les annonces</button>
  <button type="button">Déposer une annonce</button>