  <!-- Favicon standard -->
   <header>

    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"  />
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://www.flaticon.com/fr/icones-gratuites/diplome-en-ligne" title="diplôme en ligne icônes"
    />
  <h1>TalentHub</h1>
  <button type="button">Les annonces</button>
  <button type="button">Déposer une annonce</button>

  </header>