<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TalentHub le site des missions Tech!!!</title>
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/liste.css">
  <link rel="stylesheet" href="/footer.css">

</head>
<body>
    <%- include("nav.ejs") %> 